'menu': [
  {
    'label': 'Packages',
    'submenu': [
      'label': 'BitBucket'
      'submenu': [
        {'label':'Open/New Issues for this repo','command':'bitbucket-issues:list'}
      ]
    ]
  }
]
